@import "tailwindcss";

/* Add fonts */
@font-face {
    font-family: "Geist";
    font-display: swap;
    src: url("/fonts/Geist/Geist.ttf") format("trueType");
}

@font-face {
    font-family: "GeistMono";
    font-display: swap;
    src: url("/fonts/Geist-Mono/GeistMono-VariableFont_wght.ttf") format("trueType");
}

/* Custom Utilities */
@theme {
	/* fonts */
	--font-main: Geist;
	--text-11: 44px;
	--text-semi: 15px;
	--text-x1: 22px;
	--text-xm: 13px;

	/* spacing and sizing */
	--tracking-3: 3px;
	--tracking-xs: 0.3px;

	/* line height sizes*/
	--leading-base: 1.6;

	/* colors */
	--color-midnight: #09090b;
	--color-yellow: #dadf58;
	--color-yellow-light: #fdffdb;
	--color-sub-yellow: #eef35f;
	--color-orange: #de632e;
	--color-medium: #fbbf24;
	--color-info: #22C55E;
	--color-high: #de632e;
	--color-critical: #e12c4e;
	--color-glass-primary: #111;
	--color-glass-secondary: #222;
	--color-gray-light: #e5e7eb;
	--color-gray: #b4b4bb;
	--color-base-2: linear-gradient(135deg, hsla(0, 0%, 100%, .05) 10%, hsla(0, 0%, 100%, .03) 40%);
	--color-overlay: radial-gradient(160.33% 160.3% at 98.14% 97.73%, rgba(9, 9, 11, 0) 33.78%, rgba(255, 255, 255, 0.03) 64.91%, rgba(255, 255, 255, 0.03) 100%),
		#09090b;
	--color-smoke: #111112;

	--border-width: 0.75;

	--gap: 16px;
	--glow-color: #444444;
	--glow-size-start: 0px;
	--glow-size-end: 500px;
	--overlay-color: radial-gradient(160.33% 160.3% at 98.14% 97.73%, rgba(9, 9, 11, 0) 33.78%, rgba(255, 255, 255, 0.03) 64.91%, rgba(255, 255, 255, 0.03) 100%), #09090b;

	/* --tw-gradient-from: hsla(0, 0%, 100%, .15) var(--tw-gradient-from-position);
	--tw-gradient-to: transparent;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to); */

}

*, ::after, ::before {
	scrollbar-width: thin;
	scrollbar-color: #222 transparent;
	scroll-behavior: auto !important;
}

*::-webkit-scrollbar {
	@apply w-1;
}

::-webkit-scrollbar-thumb {
	@apply bg-[#333] rounded-[0];
}

:root {
	@apply box-border m-0 p-0 border-0 outline-0 text-base align-baseline bg-midnight;
}

/* Reset CSS / HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	/* @apply overflow-x-hidden; */
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	@apply outline-0;
}

button {
	@apply outline-0 transition-colors duration-300;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

/* .hoverable, */
a,
button {
	@apply transition-colors duration-300;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

img,
video {
	@apply max-w-full h-auto;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	@apply block align-middle;
}

/* .sr-only {
	@apply absolute size-0.25 p-0 -m-0.25 overflow-hidden border-0 whitespace-nowrap;
	clip: rect(0, 0, 0, 0);
} */

.transform-gpu {
	transform: translateZ(0);
}

.custom-container {
	@apply relative z-50 mx-auto w-full max-w-384 lg:px-8;
}

.custom-container-sm {
	@apply relative z-40 mx-auto w-full max-w-7xl lg:px-8;
}

.custom-p-sm {
	@apply py-24 lg:py-32;
}

.glowBackground {
	@apply bg-overlay relative block size-full overflow-hidden rounded-2xl;
}

/* .bg-gradient-radial {
	background-image: radial-gradient(var(--tw-gradient-stops));
} */

.bg-line-grid-stroke {
	background-image: url("/icons/stroke-squars.svg");
}

.bg-line-grid-gray {
	background-image: url("/icons/gray-squars.svg");
}

.bg-custom-gradient {
	background-image: linear-gradient(135deg, hsla(0, 0%, 100%, .02), hsla(0, 0%, 100%, .015));
}

.center {
	@apply flex justify-center items-center;
}

header {
	@apply bg-radial-[at_30%_30%_30%] from-zinc-900 via-neutral-950 to-stone-950;
}

.nav-effect {
	@apply transition-all delay-50 duration-275 ease-in-out
	 **:transition **:delay-50 **:duration-275 **:ease-in-out;
}

.box-title-effect {
	@apply transition-colors duration-200 ease-in-out;
}

.section-gradient-title {
	@apply text-3xl md:text-3xl lg:text-4xl xl:text-11 font-semibold leading-[1.15] 
	xl:leading-[1.20] tracking-[-1px] bg-clip-text text-transparent bg-gradient-to-b
	 from-white to-white/75;
}

.section-subtitle {
	@apply text-base xl:text-lg text-gray font-light tracking-xs;
}
/* text-base xl:text-lg text-fog font-light tracking-[0.3px] max-w-xl */

.mask-gradient {
	mask: linear-gradient(to right,
	 rgba(0, 0, 0, 0),
	 rgb(0, 0, 0) 10%,
	 rgb(0, 0, 0) 90%,
	 rgba(0, 0, 0, 0));
}

.input {
	@apply h-auto py-3 px-4 text-gray rounded-lg border border-glass-secondary
	transition-colors duration-300;
	--tw-bg-opacity: 1;
	background-color: rgb(9 9 11 / var(--tw-bg-opacity, 1));
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.input:hover {
	@apply border-gray/50;
}

.input:focus {
	@apply border-gray/50;
}

.slider {
	animation: slider-marquee 30s linear infinite;
}

@keyframes slider-marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

.slider-comments {
	animation: slider-marquee-faster 7s 0s linear infinite;
}

@keyframes slider-marquee-faster {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

.swiper-container {
	@apply relative;
	-webkit-mask-image: linear-gradient(to right,
			rgba(255, 255, 255, 0),
			rgb(255, 255, 255) 40%,
			rgb(255, 255, 255) 60%,
			rgba(255, 255, 255, 0));
	mask-image: linear-gradient(to right,
			rgba(255, 255, 255, 0),
			rgb(255, 255, 255) 40%,
			rgb(255, 255, 255) 60%,
			rgba(255, 255, 255, 0));
	
}

.swiper-container::after,
.swiper-container::before
{
	content: "";
	@apply absolute top-0 w-1/2 h-full text-white z-2;
}

.card_feature-img {
	background: radial-gradient(160.33% 160.3% at 98.14% 97.73%, rgba(9, 9, 11, 0) 33.78%, hsla(0, 0%, 100%, .03) 64.91%, hsla(0, 0%, 100%, .03) 100%), #09090b;
}

.bg-base {
	@apply border border-glass-secondary;
	background: radial-gradient(160.33% 160.3% at 98.14% 97.73%, rgba(9, 9, 11, 0) 33.78%, hsla(0, 0%, 100%, .03) 64.91%, hsla(0, 0%, 100%, .03) 100%), #09090b;
}

.bg-base-2 {
	border: 1px solid hsla(0, 0%, 100%, .05);
	background: linear-gradient(135deg, hsla(0, 0%, 100%, .05) 10%, hsla(0, 0%, 100%, .03) 40%), #09090b;
}

.btn-monitor {
	@apply transition-all delay-50 duration-275 ease-in-out;
	/* **:transition-all **:delay-50 **:duration-275 **:ease-in-out; */
}

.bg-graph-gradient {
	--tw-bg-graph-gradient: var(radial-gradient(oklch(0.646 0.222 41.116), oklch(0.852 0.199 91.936)));
}

/* .overlay-layout1 {
	@apply pointer-events-none absolute inset-0 rounded-[inherit] 
	[border:0.75px_solid_transparent] ![mask-clip:padding-box,border-box] 
	![mask-composite:intersect] 
	[mask:linear-gradient(transparent,transparent),linear-gradient(white,white)];
}

.overlay-layout1:after {
	@apply w-10 absolute aspect-square [animation-delay:0s] [offset-anchor:90%_50%]
	[background:linear-gradient(to_left_#FFF_#EEF35F_transparent)] 
	[offset-path:rect(0_auto_auto_0_round_40px)];
}

.overlay-layout2 {
	@apply pointer-events-none absolute inset-0 rounded-[inherit] 
	border border-solid border-transparent w-75
	[mask-clip:padding-box_border-box] [mask-composite:intersect];
	mask: linear-gradient(transparent,transparent), linear-gradient(white, white);
}
.overlay-layout2::after {
	@apply absolute aspect-square [animation-delay:0s] [offset-anchor:90%_50%]
	[background:linear-gradient(to_left,#111112,#444444,transparent)]
	[offset-path:rect(0_auto_auto_0_round_300px)];
} */

.animate-border-beam:after {
	content: "";
	animation: beam 15s infinite linear !important;
}

@keyframes beam {
	100% {offset-distance: 100%;}
}


.text-medium {
	@apply text-medium;
	border-color: rgb(251 191 36 / var(--tw-border-opacity));
}
 
.vertical-marquee {
	animation: scrollUp 12s linear infinite; 
	animation-play-state: paused;
}

.vertical-marquee.running {
	animation-play-state: running;
}

.vertical-marquee-slower {
	animation: scrollUp 28s linear infinite;
	animation-play-state: paused;
}

.vertical-marquee-slower.running {
	animation-play-state: running;
}

@keyframes scrollUp {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(calc(-100% - 1rem));
	}
}

.horizontal-marquee {
	animation: scrollLeft 25s linear infinite;
	animation-play-state: paused;
}

.horizontal-marquee.running {
	animation-play-state: running;
}


@keyframes scrollLeft {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

/* کلاس اضافه‌شده هنگام رسیدن به نقطه مورد نظر */
.child.sticky-active {
transform: scale(0.8); 
opacity: 0.5;         
}


.bitmap {
	animation: bitmap-animate 1.4s alternate infinite;
}

@keyframes bitmap-animate {
	0% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

.fade-in {
	animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


.overlay-back {
	animation: animate-overlay 2s linear ease;
}

@keyframes animate-overlay {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.overlay {
	animation: animate-overlay linear ease;
}

@keyframes animate-overlay {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.row-number {
	font-family: GeistMono, ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
}

.GlowBackground_glowBackground {
	@apply relative block size-full overflow-hidden;
} 

.GlowBackground_glowBackground:before {
	@apply size-0;
	background: radial-gradient(circle closest-side, var(--glow-color), transparent);
}

.GlowBackground_glowBackground:after {
	--blur-size: var(--glow-size-start);
	width: calc(var(--blur-size) + 10px);
	height: calc(var(--blur-size) + 10px);
	background: radial-gradient(circle closest-side, var(--glow-color), transparent);
	filter: blur(5px);
	margin: -5px;
}

/* .GlowBackground_glowBorderBg {
	@apply absolute z-1 pointer-events-none rounded-2xl opacity-100 
	transition-opacity duration-500 ease-out;
	background: var(--overlay-color);
} */

.animate-grid {
	animation: grid 25s linear infinite;
}

@keyframes grid {
	0% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(0);
	}
}

.footer-lists-section {
	@apply md:grid md:grid-cols-2 md:gap-8;
}

.fonts-list {
	font-family: GeistMono, ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
}

.domain-detail {
	@apply font-light text-sm text-gray leading-3 tracking-wide;
}

.mask-x-sm {
	mask-image: "linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0))";
	-webkit-mask-image: "linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0))";
}
