@import "tailwindcss";

/* Add fonts */
@font-face {
    font-family: "Geist";
    font-display: swap;
    src: url("/fonts/Geist/Geist.ttf") format("trueType");
}

:root {
    @apply box-border m-0 p-0 border-0 outline-0 text-base align-baseline bg-midnight;
}


/* Reset CSS / HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	@apply overflow-x-hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	@apply outline-0;
}

button {
	@apply outline-0;
}


/* Custom Utilities */
@theme {
	/* fonts */
    --font-main: Geist;
	--text-11: 44px;
	--text-semi: 15px;
	--text-x1: 22px;
	--text-xm: 13px;

	/* spacing and sizing */
	--tracking-3: 3px;
	--tracking-xs: 0.3px;

	/* line height sizes*/
	--leading-base: 1.6;

	/* colors */
	--color-midnight: #09090b;
	/* --color-high: #de632e; */
	--color-yellow: #dadf58;
	--color-yellow-light: #fdffdb;
	--color-sub-yellow: #eef35f;
	--color-orange: #de632e;
	--color-medium: #fbbf24;
	--color-info: #22C55E;
	--color-high: #de632e;
	--color-critical: #e12c4e;
	--color-glass-secondary: #222;
	--color-gray-light: #e5e7eb;
	--color-gray: #b4b4bb;
	--color-glass-primary: #111;
	--color-base-2: linear-gradient(135deg, hsla(0, 0%, 100%, .05) 10%, hsla(0, 0%, 100%, .03) 40%);
	--color-overlay: radial-gradient(160.33% 160.3% at 98.14% 97.73%, rgba(9, 9, 11, 0) 33.78%, rgba(255, 255, 255, 0.03) 64.91%, rgba(255, 255, 255, 0.03) 100%),
		#09090b;
		
	/* radial-gradient(160.33% 160.3% at 98.14% 97.73%, rgba(9, 9, 11, 0) 33.78%, rgba(255, 255, 255, 0.03) 64.91%, rgba(255, 255, 255, 0.03) 100%),
		#09090b */
	/* linear-gradient(135deg, hsla(0, 0%, 100%, .05) 10%, hsla(0, 0%, 100%, .03) 40%),
		#09090b */

}


.custom-container-sm {
	@apply relative z-40 mx-auto w-full max-w-7xl lg:px-8;
}


.glowBackground {
	@apply bg-overlay relative block size-full overflow-hidden rounded-2xl;
}

header {
	@apply bg-radial-[at_30%_30%_30%] from-zinc-900 via-neutral-950 to-stone-950;
}


.nav-effect {
	@apply *:transition *:delay-100 *:duration-300 *:ease-in-out;
}

.box-title-effect {
	@apply transition delay-75 duration-150 ease-in-out;
}

.title-gradient {
	@apply bg-clip-text text-transparent bg-gradient-to-b from-white to-white/75;
}

.slider {
	animation: slider-animate 24s linear infinite;
}

.swiper-container {
	@apply relative;
}

.swiper-container::after,
.swiper-container::before
{
	content: "";
	@apply absolute top-0 w-1/2 h-full text-white z-2;
}

.swiper-container::before {
	left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 150%);
}

/* محو شدن از سمت راست به شفاف */
.swiper-container::after {
	right: 0;
	background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 150%);
}

.card_feature-img {
	background: radial-gradient(160.33% 160.3% at 98.14% 97.73%, rgba(9, 9, 11, 0) 33.78%, hsla(0, 0%, 100%, .03) 64.91%, hsla(0, 0%, 100%, .03) 100%), #09090b;
}

.bg-base {
	border: 1px solid #222;
	background: radial-gradient(160.33% 160.3% at 98.14% 97.73%, rgba(9, 9, 11, 0) 33.78%, hsla(0, 0%, 100%, .03) 64.91%, hsla(0, 0%, 100%, .03) 100%), #09090b;
}

.bg-base-2 {
	border: 1px solid hsla(0, 0%, 100%, .05);
	background: linear-gradient(135deg, hsla(0, 0%, 100%, .05) 10%, hsla(0, 0%, 100%, .03) 40%), #09090b;
}


.bg-opacity-10 {
	--tw-bg-opacity: 0.1;
}

.border-opacity-10 {
	--tw-border-opacity: 0.1;
}

.text-info {
	--tw-text-opacity: 1;
	color: rgb(34 197 94 / var(--tw-text-opacity, 1));
	background-color: rgb( 34 197 94 / var(--tw-bg-opacity));
	border-color: rgb( 34 197 94 / var(--tw-border-opacity));
}

.text-medium {
	background-color: rgb( 251 191 36 / var(--tw-bg-opacity));
	border-color: rgb(251 191 36 / var(--tw-border-opacity));
}

.text-critical {
	background-color: rgb(225 44 78 / var(--tw-bg-opacity));
	border-color: rgb(225 44 78 / var(--tw-border-opacity));
}

.text-high {
	background-color: rgb(222 99 46 / var(--tw-bg-opacity));
	border-color: rgb(222 99 46 / var(--tw-border-opacity));
}
 


.vertical-marquee {
	animation: scrollUp 10s linear infinite running; 
}

.vertical-marquee-slower {
	animation: scrollUp 80s linear infinite running;
	
}

@keyframes scrollUp {
	0% {
		transform: translateY(0);
	}

	100% {
		/* -100% یعنی به اندازه ارتفاع کل محتوای اول، به بالا اسکرول کند */
		transform: translateY(-100%);
	}
}

.horizontal-marquee {
	animation: scrollLeft 10s linear infinite running;
}

@keyframes scrollLeft {
	0% {
		transform: translateX(0);
	}

	100% {
		/* -100% یعنی به اندازه ارتفاع کل محتوای اول، به سمت چپ اسکرول کند */
		transform: translateX(-100%);
	}
}

@keyframes slider-animate {
	0% {
		transform: translateX(0);
	}

	100% {
		/* -100% یعنی به اندازه ارتفاع کل محتوای اول، به بالا اسکرول کند */
		transform: translateX(-100%);
	}
}

/* کلاس اضافه‌شده هنگام رسیدن به نقطه مورد نظر */
.child.sticky-active {
transform: scale(0.8);  /* کوچک شدن */
opacity: 0.5;           /* کاهش شفافیت */
}


.btn-monitor span:nth-child(1) {
	@apply absolute w-full h-0.25 top-0 left-0 bg-linear-to-r from-yellow-light to-yellow;
	animation: animate1 5s linear infinite;
	-webkit-animation: animate1 5s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
	}
}

.btn-monitor span:nth-child(2) {
	@apply absolute w-0.25 h-full top-0 right-0 bg-linear-to-b from-yellow-light to-yellow;
	animation: animate2 5s linear infinite;
	-webkit-animation: animate2 5s linear infinite;
	animation-delay: 5s;
}

@keyframes animate2 {
	0% {
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
	}

	100% {
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		-o-transform: translateY(100%);
	}
}

.btn-monitor span:nth-child(3) {
	@apply absolute w-full h-0.25 bottom-0 left-0 bg-linear-to-l from-yellow-light to-yellow;
	animation: animate3 5s linear infinite;
	-webkit-animation: animate3 5s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
	}
}


.btn-monitor span:nth-child(4) {
	@apply absolute w-0.25 h-full top-0 left-0 bg-linear-to-t from-yellow-light to-yellow;
	animation: animate4 5s linear infinite;
	-webkit-animation: animate4 5s linear infinite;
	animation-delay: 15s;
}


@keyframes animate4 {
	0% {
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		-o-transform: translateY(100%);
	}

	100% {
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
	}
}

.bitmap {
	animation: bitmap-animate 1.8s alternate infinite;
	-webkit-animation: bitmap-animate 1.8s alternate infinite;
}

@keyframes bitmap-animate {
	0% {
		transform: translateY(-7%);
		-webkit-transform: translateY(-7%);
		-moz-transform: translateY(-7%);
		-ms-transform: translateY(-7%);
		-o-transform: translateY(-7%);
}
	100% {
		transform: translateY(7%);
		-webkit-transform: translateY(7%);
		-moz-transform: translateY(7%);
		-ms-transform: translateY(7%);
		-o-transform: translateY(7%);
	}
} 